@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --on-foreground: #06284A;
  --primary-green-light: #34A853;
  --primary-green-dark: #339e4f;
  --primary-blue: #4285F4;

  --tooltip-bg: #071A2D;
  --tooltip-text-color: #ffffff;

  --rt-opacity: 1 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #061626;
    --foreground: #071A2D;
    --on-foreground: #06284A;

    --tooltip-bg: #ffffff;
    --tooltip-text-color: #071A2D;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.skill-icon {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(13%) sepia(16%) saturate(5217%)
  hue-rotate(186deg) brightness(95%) contrast(100%) opacity(50%);
  transition: scale 0.2s ease;
}
.skill-icon:hover {
  scale: 1.15;
  transition: scale 0.2s ease;
  filter: none;
}