@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

:root {
    --background: #ffffff;
    --foreground: #f5f8ff;
    --on-foreground: #dbe2fb;

    --text-color: #102d48;
    --text-title: #061626;

    --primary-green-light: #34A853;
    --primary-green-dark: #339e4f;
    --primary-blue: #4285F4;

    --tooltip-bg: #06284A;
    --tooltip-text-color: #ffffff;

    --rt-opacity: 1 !important;
}

.dark {
    --background: #061626;
    --foreground: #071A2D;
    --on-foreground: #06284A;

    --text-color: rgba(255, 255, 255, 0.8);
    --text-title: #ffffff;

    --tooltip-bg: #ffffff;
    --tooltip-text-color: #071A2D;
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.skill-icon {
    cursor: pointer;
    transition: scale 0.2s ease;
    filter: brightness(0) saturate(100%) invert(86%) sepia(7%) saturate(353%) hue-rotate(195deg) brightness(108%) contrast(105%);
}

.dark .skill-icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(16%) saturate(5217%) hue-rotate(186deg) brightness(95%) contrast(100%) opacity(50%);
}

.skill-icon:is(:hover, :focus, :active) {
    scale: 1.15;
    transition: scale 0.2s ease;
    filter: none;
}